<% if user_signed_in? %>
  <li>
  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
  </li>
<% else %>
  <li>
  <%= link_to('Login', new_user_session_path)  %>
  </li>
<% end %>

<h1>hello <%= current_user.email %></h1>
<%= link_to 'Google', 'http://google.com' %>

<ul>
  <% @posts.each do |post| %>
  <li>
    <%= post.title %>: <%= post.body %> (<%= count_words(post) %> words)
  </li>
  <% end %>
</ul>
